.header {
    position: fixed;
    height: 60px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .3s ease-in;
    overflow: hidden;
    background-color: #E7CBCB;
}

.header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    margin: auto;
    height: 100%;
    padding: 0 54rem;
}

.header .nav-menu a {
    color:#643843 ;
}

.header .nav-menu {
    display: flex;
}

.header .nav-item {
    padding: 1rem;
    font-weight: 700;
}

.header .nav-item a:hover {
    padding-bottom: 12px;
    border-bottom: 5px solid #643843;
}

.hamburger {
    display: none
}


@media screen and (max-width:940px) {
    .header {
        max-width: 100%;
        background-color: #E7CBCB;
    }

    .header .navbar {
        max-width: 100%;
    }

    .hamburger {
        display: block;
        color: black;
     
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 90px;
        flex-direction: column;
        background-color:#E7CBCB;
        width: 90%;
        height: 75vh;
        z-index: 999;
        text-align: center;
        transition: .3s;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1.5rem 0;
    }
    .header .navbar {
        padding: 1rem;
    }
    
}


.NG{
    font-size: 20rem;
}














